<div class="naira__header">
<h3 class="naira__title">
Profile
</h3>
<span class="naira__desc">
<%= user.about.bio %>
</span>
</div>

<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Full Name:</td>
<td class="text-right text-capitalize">
<%= user.fullname %>
</td>
</tr>
<tr>
<td>Phone Number:</td>
<td class="text-right">0<%= user.phone %></td>
</tr>
<tr>
<td>Email Address:</td>
<td class="text-right"><%= user.email %></td>
</tr>
<tr>
<td>Sex:</td>
<td class="text-right text-capitalize"><%= user.about.sex %></td>
</tr>
<tr>
<td>Relationship Status:</td>
<td class="text-right text-capitalize"><%= user.about.relationship %></td>
</tr>
<tr>
<td>Joined:</td>
<td class="text-right"><%= user.created_at %></td>
</tr>
</tbody>
</table>
</div>