<div class="tab-pane" id="kt_tabs_7_2" role="tabpanel">
<div class="kt-section__content table-responsive">
<table class="table">
<thead>
<tr>
<th class="kt-font-bolder kt-font-success">Full Name</th>
<th class="kt-font-bolder kt-font-success">Joined</th>
<th class="kt-font-bolder kt-font-success">Contributions</th>
<th class="kt-font-bolder kt-font-success">Score</th>
<th class="kt-font-bolder kt-font-success">Position</th>
<th class="kt-font-bolder kt-font-success">Receive On</th>
<th class="kt-font-bolder kt-font-success">Status</th>
<th class="kt-font-bolder kt-font-success"></th>
</tr>
</thead>
<tbody>
<% group.members.forEach(member => { %>
<% if(!member.removed){ %>
<tr>
<td><%= member.fullname %></td>
<td><%= member.join_date %></td>
<td>18,000 naira</td>
<td><%= member.nairascore %></td>
<td>1st</td>
<td><%= member.receiving_date %></td>
<td class="text-capitalize kt-font-success">Received</td>
<td><a href="#" class="btn btn-secondary btn-sm remove-member" data-group_id="<%= group.group_id %>" data-user_id="<%= member.user_id %>">Remove</a></td>
</tr>
<% } %>
<% }) %>
<!-- <tr>
<td>Wisdom Madab</td>
<td>30 days ago</td>
<td>18,000 naira</td>
<td>66</td>
<td>2nd</td>
<td>02-12-2019</td>
<td class="text-capitalize kt-font-success">Received</td>
<td><a href="#" class="btn btn-secondary btn-sm">Remove</a></td>
</tr>
<tr>
<td>Adeleke Kemi</td>
<td>30 days ago</td>
<td>18,000 naira</td>
<td>58</td>
<td>3rd</td>
<td>03-12-2019</td>
<td class="text-capitalize kt-font-info">Waiting</td>
<td><a href="#" class="btn btn-secondary btn-sm">Remove</a></td>
</tr>
<tr>
<td>Jegede Okikijesu</td>
<td>30 days ago</td>
<td>18,000 naira</td>
<td>54</td>
<td>4th</td>
<td>04-12-2019</td>
<td class="text-capitalize kt-font-info">Waiting</td>
<td><a href="#" class="btn btn-secondary btn-sm">Remove</a></td>
</tr>
<tr>
<td>Charles Abijogun</td>
<td>30 days ago</td>
<td>18,000 naira</td>
<td>30</td>
<td>5th</td>
<td>05-12-2019</td>
<td class="text-capitalize kt-font-info">Waiting</td>
<td><a href="#" class="btn btn-secondary btn-sm">Remove</a></td>
</tr> -->
</tbody>
</table>
</div>
</div>