<div class="tab-pane active" id="kt_tabs_7_1" role="tabpanel">
<div class="kt-section__content table-responsive">
<table class="table">
<tbody>
<tr style="border-top:0">
<td class="kt-font-bold" style="border-top:0">Title:</td>
<td class="text-right" style="border-top:0">
<%= group.group_title %>
</td>
</tr>
<tr>
<td class="kt-font-bold">Description:</td>
<td class="text-right"><%= group.group_description %></td>
</tr>
<tr>
<td class="kt-font-bold">Goals:</td>
<td class="text-right"><%= group.group_goals %></td>
</tr>
<tr>
<td class="kt-font-bold">Created On:</td>
<td class="text-right"><%= group.created_on %></td>
</tr>
<tr>
<td class="kt-font-bold">Total Members:</td>
<td class="text-right"><span data-format="decimal"><%= group.total_members %></span></td>
</tr>
<tr>
<td class="kt-font-bold">Total Contributions:</td>
<td class="text-right">187,000 Naira</td>
</tr>
<tr>
<td class="kt-font-bold">Contribution Per Member:</td>
<td class="text-right"><%= group.contribution_amount %> Naira</td>
</tr>
<tr>
<td class="kt-font-bold">Contribution Period:</td>
<td class="text-right"><%= group.contribution_period %></td>
</tr>
<tr>
<td class="kt-font-bold">Receiving Next:</td>
<td class="text-right"><%= group.receiving_next %></td>
</tr>
<tr>
<td class="kt-font-bold">Default Rate:</td>
<td class="text-right"><%= group.default_rate %>%</td>
</tr>
<tr>
<td class="kt-font-bold">Cycle Started:</td>
<td class="text-right"><%= group.cycle_started %></td>
</tr>
<tr>
<td class="kt-font-bold">Cycle Ends:</td>
<td class="text-right"><%= group.cycle_ended %></td>
</tr>
</tbody>
</table>
</div>








</div>