<% if(user.guarantor.fullname){ %>
<div class="naira__header kt-margin-t-20">
<h3 class="naira__title">
Gurantor Information
</h3>
<span class="naira__desc">
<%= user.guarantor.relationship %>
</span>
</div>
<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Full Name:</td>
<td class="text-right text-capitalize"><%= user.guarantor.fullname %></td>
</tr>
<tr>
<td>Phone Number:</td>
<td class="text-right"><%= user.guarantor.phone %></td>
</tr>
<tr>
<td>House Address:</td>
<td class="text-right"><%= user.guarantor.house_address %></td>
</tr>
<tr>
<td>Type of Employer:</td>
<td class="text-right"><%= user.guarantor.type_of_employer %></td>
</tr>
<tr>
<td>Place of Employment:</td>
<td class="text-right"><%= user.guarantor.place_of_work %></td>
</tr>
<tr>
<td>Nature of Employment:</td>
<td class="text-right"><%= user.guarantor.description_of_work %></td>
</tr>
</tbody>
</table>
</div>
<% } %>