<% include meta %>
<% include header %>
<% include link %>

<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-margin-10">


<div class="naira__header">
<h3 class="naira__title">
Transaction Summary
</h3>
<span class="naira__desc">
Details of transaction and current status
</span>
</div>

<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Reference No:</td>
<td class="text-right"><%= transaction.reference %></td>
</tr>
<tr>
<td>Amount:</td>
<td class="text-right" data-format="comma">&#8358;<%= transaction.amount %></td>
</tr>
<tr>
<td>Date Created:</td>
<td class="text-right"><%= transaction.created_at %></td>
</tr>
<tr>
<td>Payment Status:</td>
<td class="text-right"><% let stateMap = { pending: "info", success: "success", failed: "danger" } %>
<% let color = stateMap[transaction.status] %>
<span class="kt-font-<%= color %> text-capitalize"><%= transaction.status %></span></td>
</tr>
</tbody>
</table>
</div>


<div class="naira__header">
<h3 class="naira__title">
Nairalife Member
</h3>
<span class="naira__desc">
Sender's contact information
</span>
</div>
<div class="table-responsive">
<table class="table">
<tbody>	
<tr>
<td>Full Name:</td>
<td class="text-right"><%= transactionOwner.fullname %></td>
</tr>
<tr>
<td>Phone Number:</td>
<td class="text-right">0<%= transactionOwner.phone %></td>
</tr>
<tr>
<td>Email Address:</td>
<td class="text-right"><%= transactionOwner.email %></td>
</tr>
</tbody>
</table>
</div>


<div class="naira__header">
<h3 class="naira__title">
Payment Instruction
</h3>
<span class="naira__desc">
When to confirm payment
</span>
</div>

<div class="aboutn">
<p>
Confirm payment is Nairalife has received exactly <b data-format="comma"> &#8358;<%= transaction.amount %></b> in the 
Token Technologies Limited Access Bank account. 
</p>
</div>


<div class="kt-login__btn kt-margin-t-20">
<% if(transaction.status == "pending") { %>
<a href="#" data-transaction_id="<%= transaction._id %>" class="btn btn-secondary btn-taller btn-pill btn-wider kt-margin-r-5 transaction-cancel">
<i class="la la-close"></i><span class="cancel-text">Cancel Payment</span>
</a>
<a href="#" data-transaction_id="<%= transaction._id %>" class="btn btn-warning btn-taller btn-pill btn-wider transaction-confirm">
<i class="la la-check"></i><span class="confirm-text">Confirm Payment</span>
</a>
<% } %>
</div>

</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->



<script src="/js/custom/script.js"></script>
<script src="/js/custom/admin/payment.js"></script>

<% include footer %>