<% include meta %>
<% include header %>
<% include link %>






<div class="kt-portlet btopzero">

<div class="kt-portlet__body kt-portlet__body--fit">
<div class="kt-invoice-2">
<div class="kt-invoice__wrapper">
<div class="kt-invoice__head">

<div class="kt-invoice__container">

<div class="kt-invoice__logo">
<a href="#">
<img src="/images/naira.png">
</a>
</div>
<span class="kt-invoice__desc">
<h1>#<%= transaction.reference %></h1>
<span>Block 6, Plot H, Journalist Estate Phase 2</span>
<span>Lagos-Ibadan Express Way, Arepo, Ogun State</span>
<span><b>nairalife@tutanota.com</b></span>
<span>+2348127596979</span>
</span>

<div class="kt-invoice__items">
<div class="kt-invoice__item">
<span class="kt-invoice__subtitle">REFERENCE NO</span>
<span class="kt-invoice__text"><%= transaction.reference %></span>
</div>
<div class="kt-invoice__item">
<span class="kt-invoice__subtitle">DATE</span>
<span class="kt-invoice__text"><%= transaction.created_at %></span>
</div>
<div class="kt-invoice__item">
<span class="kt-invoice__subtitle">STATUS</span>
<% let stateMap = { pending: "info", success: "success", failed: "danger" } %>
<% let color = stateMap[transaction.status] %>
<span class="kt-invoice__text kt-font-<%= color %> text-capitalize"><%= transaction.status %></span>
</div>
<div class="kt-invoice__item">
<span class="kt-invoice__subtitle">AMOUNT</span>
<span class="kt-invoice__text" data-format="comma">&#8358;<%= transaction.amount %></span>
</div>
</div>


<div class="kt-invoice__items">
<div class="kt-invoice__item">
<span class="kt-invoice__subtitle">FULL NAME</span>
<span class="kt-invoice__text"><%= transactionOwner.fullname %></span>
</div>
<div class="kt-invoice__item">
<span class="kt-invoice__subtitle">PHONE NO</span>
<span class="kt-invoice__text">0<%= transactionOwner.phone %></span>
</div>
<div class="kt-invoice__item">
<span class="kt-invoice__subtitle">EMAIL</span>
<span class="kt-invoice__text"><%= transactionOwner.email %></span>
</div>
</div>


<% if(transaction.status == "pending") { %>
<p class="kt-margin-b-30 text-center">

<a href="#" data-transaction_id="<%= transaction._id %>" class="btn btn-taller btn-wide btn-success kt-margin-t-10 transaction-confirm">
<i class="la la-edit"></i>Confirm Payment
</a>

<a href="#" data-transaction_id="<%= transaction._id %>" class="btn btn-taller btn-wide btn-secondary kt-margin-t-10 transaction-cancel">
<i class="la la-slack"></i>Cancel Payment
</a>
</p>
<% } %>

</div>
</div>
</div>
<!--kt-invoice-wrapper-->
</div>


</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->

<script src="/js/custom/script.js"></script>
<script src="/js/custom/admin/payment.js"></script>



<% include footer %>