<div class="naira__header">
<h3 class="naira__title">
Instalment Loan Requests
</h3>
<span class="naira__desc">
Last 10 recent requests on Nairalife
</span>
</div>

<div class="table-responsive">
<table class="table">
<tr>
<th>Reference</th>
<th>Amount</th>
<th>Date</th>
<th>Status</th>
</tr>
<tbody>
<% higherPurchaseTransactions.forEach(transaction => { %>
<tr>
<td><%= transaction.reference %></td>
<td>&#8358;<span data-format="comma"><%= transaction.amount %></span></td>
<td><%= transaction._doc.created_at %></td>
<% let statusMap = { "success": "success", "pending": "info", "failed": "danger" } %>
<td class="text-capitalize kt-font-<%= statusMap[transaction.status] %>"><%= transaction.status %></td>
</tr>
<% }) %>
</tbody>
</table>
</div>

<div class="alert alert-bold fade show kt-margin-b-20" role="alert" style="border:1px solid #e1e1e1; color:#666">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Member currently has no loan request
</div>
</div>