<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10">
<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-10">
<thead>
<tr>
<th>Member</th>
<th>HP Plan</th>
<th>Total Payment</th>
<th>Remaining Payment</th>
<th></th>
</tr>
</thead>
<tbody>
<% higherPurchaseMembers.forEach((member, i) => { %>
<tr>
<td><%= member.fullname %></td>
<td data-format="comma">&#8358;<%= member.plan.total_amount %></td>
<td data-format="comma">&#8358;<%= member._doc.totalPayment %></td>
<td data-format="comma">&#8358;<%= member._doc.remainingPayment %></td>
<td>
	<% if(member._doc.phase != "success") { %>
		<% if(member._doc.phase == "pending") { %>
		<button data-user_id="<%= member.user_id %>" class="btn btn-secondary btn-sm pending-button">Pending</button>
		<% } %>

		<% if(member._doc.phase == "noattempt") { %>
		<button data-user_id="<%= member.user_id %>" class="btn btn-secondary btn-sm save-button save-button-text-<%=member.user_id%>">Charge</button>
		<button data-user_id="<%= member.user_id %>" class="btn btn-secondary btn-sm pending-button otp-error">Pending</button>
		<% } %>
	<% } %>
</td>
</tr>
<% }) %>
</tbody>
</table>
</div>
</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->