<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-padding-t-10 kt-padding-b-10">
<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-10">
<thead>
<tr>
<th class="kt-font-bolder kt-font-success">No</th>
<th class="kt-font-bolder kt-font-success">Id</th>
<th class="kt-font-bolder kt-font-success">Title</th>
<th class="kt-font-bolder kt-font-success">Members</th>
<th class="kt-font-bolder kt-font-success">Contributions</th>
<th class="kt-font-bolder kt-font-success">Default Rate</th>
<th class="kt-font-bolder kt-font-success">Comments</th>
<th class="kt-font-bolder kt-font-success">Status</th>
<th class="kt-font-bolder kt-font-success"></th>
</tr>
</thead>
<tbody>
<% for(let i = 0; i < groups.length; i++){ %>
<tr>
<td><%= i + 1 %></td>
<td><%= groups[i].group_id %></td>
<td><%= groups[i].group_title %></td>
<td><%= groups[i].total_members %></td>
<td>&#8358;<%= groups[i].total_contribution %></td>
<td><%= groups[i].default_rate %>%</td>
<td><%= groups[i].comments %></td>

<% let statusType = groups[i].status == "active" ? "info" : "success" %>
<td class="text-capitalize kt-font-<%= statusType %>"><%= groups[i].status %></td>
<td><a href="/admin/group/<%= groups[i].group_id %>" class="btn btn-secondary btn-sm">View</a></td>
</tr>
<% } %>

<!-- <tr>
<td>2</td>
<td>0826541OSE</td>
<td>40,000 weekly contributions</td>
<td>4</td>
<td>&#8358;160,000</td>
<td>32%</td>
<td>9</td>
<td class="text-capitalize kt-font-info">Active</td>
<td><a href="#" class="btn btn-secondary btn-sm">View</a></td>
</tr>
<tr>
<td>3</td>
<td>918263PBO</td>
<td>40,000 weekly contributions</td>
<td>4</td>
<td>&#8358;420,000</td>
<td>21%</td>
<td>13</td>
<td class="text-capitalize kt-font-success">Complete</td>
<td><a href="#" class="btn btn-secondary btn-sm">View</a></td>
</tr>
<tr>
<td>4</td>
<td>765937DFK</td>
<td>35,000 weekly contributions</td>
<td>4</td>
<td>&#8358;710,000</td>
<td>19%</td>
<td>45</td>
<td class="text-capitalize kt-font-success">Complete</td>
<td><a href="#" class="btn btn-secondary btn-sm">View</a></td>
</tr>
<tr>
<td>5</td>
<td>664536OJG</td>
<td>60,000 monthly contributions</td>
<td>4</td>
<td>&#8358;360,000</td>
<td>9%</td>
<td>5</td>
<td class="text-capitalize kt-font-success">Complete</td>
<td><a href="#" class="btn btn-secondary btn-sm">View</a></td>
</tr>
 --></tbody>	
</table>
</div>
</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->