<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-margin-10">
<div class="table-responsive">
<table class="table">
<thead>
<tr>
<th class="kt-font-bolder kt-font-success">No</th>
<th class="kt-font-bolder kt-font-success">Member</th>
<th class="kt-font-bolder kt-font-success trmhide">Reference</th>
<th class="kt-font-bolder kt-font-success">Amount</th>
<th class="kt-font-bolder kt-font-success">Date</th>
<th class="kt-font-bolder kt-font-success">Status</th>
<th></th>
</tr>
</thead>
<tbody>
<% loans.forEach((loan, i) => { %>
<tr>
<td><%= i + 1 %></td>
<td class="text-capitalize"><%= loan._doc.name %></td>
<td class="trmhide"><%= loan.reference %></td>
<td data-format="comma">&#8358;<%= loan.initial_amount %></td>
<td><%= loan._doc.created_at %></td>
<% let statusMap = { "approved": "success", "pending": "info", "cancelled": "danger" } %>
<td class="text-capitalize kt-font-<%= statusMap[loan.status] %>"><%= loan.status %></td>
<td><a href="/admin/loan/<%= loan._id %>" class="btn btn-secondary btn-sm pending-button">View</a></td>
</tr>
<% }) %>
</tbody>	
</table>
</div>
</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->