<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-margin-10">
<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-0">
<thead>
<tr>
<th class="kt-font-bolder kt-font-success">Full Name</th>
<th class="kt-font-bolder kt-font-success">Phone Number</th>
<th class="kt-font-bolder kt-font-success">Email Address</th>
<th class="kt-font-bolder kt-font-success">Status</th>
<th class="kt-font-bolder kt-font-success"></th>
<th class="kt-font-bolder kt-font-success"></th>
</tr>
</thead>
<tbody>
<% members.forEach(member => { %>
<tr>
<td class="text-capitalize"><%= member.fullname %></td>
<td>0<%= member.phone %></td>
<td><%= member.email %></td>
<% let stage = member.stage == "active" ? "Verified" : "Unverified" %>
<td class="text-capitalize"><%= stage %></td>
<td class="text-center"><a href="/admin/profile/<%= member.user_id %>" class="btn btn-secondary btn-sm">View</a></td>
<% if(member.stage == "add_proof"){ %>
<td class="text-center"><button data-user_id="<%= member.user_id %>" class="btn btn-warning btn-sm">Approve</button></td>
<% } %>
<% if(member.stage != "add_proof"){ %>
<td></td>
<% } %>
</tr>
<% }) %>
</tbody>
</table>
</div>
</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->