<% include meta %>
<% include header %>
<% include link %>


<div class="kt-portlet btopzero">


<div class="kt-portlet__body kt-padding-10">

<div class="kt-section__content table-responsive">
<table class="table kt-padding-0 kt-margin-0 kt-margin-b-10">


<thead>
<tr>
<!-- <th>No</th> -->
<th>Reference</th>
<th>Type</th>
<th>Amount</th>
<th>Date</th>
<th>Status</th>
</tr>
</thead>


<tbody>
<% allTransactions.forEach((transaction, i) => { %> 
<tr>
<!-- <td><%= i + 1 %></td> -->
<td><%= transaction.reference %></td>
<td class="text-capitalize"><%= transaction.type %></td>
<td>&#8358;<%= transaction.amount %></td>
<td><%= transaction.created_at %></td>
<td class="text-capitalize kt-font-success"><%= transaction.status %></td>
</tr>
<% }) %>

</tbody>
</table>
</div>



</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->

<script type="text/javascript" src="js/custom/script.js"></script>
<% include footer %>