<% include meta %>
<% include header %>
<% include link %>


<div class="kt-portlet btopzero">


<div class="kt-portlet__body kt-margin-10">

<div class="table-responsive">
<table class="table">


<thead>
<tr>
<th class="kt-font-bolder kt-font-success">No</th>
<th class="kt-font-bolder kt-font-success trmhide">Reference</th>
<th class="kt-font-bolder kt-font-success">Amount</th>
<th class="kt-font-bolder kt-font-success">Date</th>
<th class="kt-font-bolder kt-font-success">Status</th>
<th class="kt-font-bolder kt-font-success"></th>
</tr>
</thead>

<tbody>
<% allTransactions.forEach((transaction, i) => { %> 
<tr>
<td><%= i + 1 %></td>
<td class="trmhide"><%= transaction.reference %></td>
<td data-format="comma">&#8358;<%= transaction.amount %></td>
<td><%= transaction.created_at %></td>
<% let stateMap = { pending: "info", success: "success", failed: "danger" } %>
<% let color = stateMap[transaction.status] %>
<td class="text-capitalize kt-font-<%= color %>"><%= transaction.status %></td>
<td>
	<% if(transaction.data.type == "manual") { %>
	<a href="/transaction/<%= transaction._id %>" class="btn btn-secondary btn-sm pending-button">View</a>
	<% } %>
</td>
</tr>
<% }) %>
<tr><td colspan="6">You have not made any instalment payment</td></tr>
</tbody>
</table>
</div>



</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->

<script type="text/javascript" src="js/custom/script.js"></script>
<% include footer %>