<div class="kt-portlet kt-margin-t-30">
<div class="kt-portlet__body kt-margin-10">
<div class="naira__header">
<h3 class="naira__title">
Loan Summary
</h3>
<span class="naira__desc">
Details of your Nairalife instalment loan
</span>
</div>
<div class="table-responsive">
<table class="table">
<tbody>
<% if(loan){ %>
<tr>
<td>Loan Amount:</td>
<td class="text-right" data-format="comma">&#8358;<%= loan.initial_amount %></td>
</tr>
<tr>
<td>Weekly Instalment:</td>
<td class="text-right" data-format="comma">&#8358;<%= loan._doc.weekly_payment %></td>
</tr>
<tr>
<td>Loan Period:</td>
<td class="text-right"><%= loan.weeks %> weeks</td>
</tr>
<tr>
<td>Interest Rate:</td>
<td class="text-right"><%= loan.interest %>%</td>
</tr>
<tr>
<td>Total Payment:</td>
<td class="text-right" data-format="comma">&#8358;<%= loan.final_amount %></td>
</tr>
<tr>
<td>Remaining Payment:</td>
<td class="text-right" data-format="comma">&#8358;<%= loan.final_amount %></td>
</tr>
<% } %>
<% if(!loan){ %>
<tr><td colspan="2">You currently do not have any active instalment loan on Nairalife</td></tr>
<% } %>
</tbody>
</table>
</div>
</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->