<!DOCTYPE html>

<html lang="en">

<!-- begin::Head -->
<head>

<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no" name="viewport">



<!--general Tag-->
<meta name="description" content="Uber and Bolt (Taxify) Partners get foreign used cars (Tokunbo) on hire purchase for their ride-hailing businesses">
<META NAME="keywords" content="uber, bolt, ride-hailing, hire purchase, Toyota, Corolla, Tokunbo Cars. car loans">
<meta name="author" content="<%= title %>">
<meta name="robots" content="index,follow"/>
<meta name="format-detection" content="telephone=yes"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="green">
<meta name="apple-mobile-web-app-title" content="<%= title %>">
<link rel="apple-touch-icon" href="/images/naira.png">
<meta name="msapplication-TileImage" content="/images/naira.png">
<meta name="msapplication-TileColor" content="#008000">
<meta name="mobile-web-app-capable" content="yes">


<!-- Facebook Tag -->
<meta property="og:title" content="<%= title %>"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="/images/bg.jpg"/>
<meta property="og:image:secure_url" content="/images/bg.jpg" /> 
<meta property="og:url" content=""/>
<meta property="og:description" content="Uber and Bolt (Taxify) Partners get foreign used cars (Tokunbo) on hire purchase for their ride-hailing businesses"/>
<meta property="fb:app_id" content="300675900288735" />


<!-- Google Tag -->
<meta itemprop="name" content="<%= title %>">
<meta itemprop="description" content="Uber and Bolt (Taxify) Partners get foreign used cars (Tokunbo) on hire purchase for their ride-hailing businesses">
<meta itemprop="image"  content="/images/bg.jpg">


<!-- Twitter Tag -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="Uber and Bolt (Taxify) Partners get foreign used cars (Tokunbo) on hire purchase for 
their ride-hailing businesses">
<meta name="twitter:image" content="/images/bg.jpg">




<!--begin:: Global Optional Vendors -->
<link href="/css/font/icon.css" rel="stylesheet" type="text/css" />
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<!--end::Global Theme Styles -->

<!--begin::Layout Skins(used by all pages) -->
<!--end::Layout Skins -->
<link rel="shortcut icon" href="/images/naira.png"/>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153663339-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-153663339-1');
</script>



</head>
<!-- end::Head -->