<% include meta %>
<% include header %>
<% include link %>


<div class="kt-portlet">

<div class="table-responsive">
<table class="table">


<thead>
<tr>
<th class="kt-font-bolder kt-font-success">No</th>
<th class="kt-font-bolder kt-font-success trmhide">Reference</th>
<th class="kt-font-bolder kt-font-success">Amount</th>
<th class="kt-font-bolder kt-font-success">Date</th>
<th class="kt-font-bolder kt-font-success">Status</th>
<th></th>
</tr>
</thead>

<tbody>
<% if(loans.length > 0) { %>
<% loans.forEach((loan, i) => { %> 
<tr>
<td><%= i + 1 %></td>
<td class="trmhide">#<%= loan.reference %></td>
<td data-format="comma">&#8358;<%= loan.initial_amount %></td>
<td><%= loan._doc.created_at %></td>
<% let stateMap = { pending: "info", approved: "success", declined: "danger", cancelled: "danger" } %>
<% let color = stateMap[loan.status] %>
<td class="text-capitalize kt-font-<%= color %>"><%= loan.status %></td>
<td>
	<a href="/loan/<%= loan._id %>" class="btn btn-secondary btn-sm pending-button">View</a>
</td>
</tr>
<% }) %>
<% } %>

<% if(loans.length == 0){ %>
<tr><td colspan="6">You have not made any loan request</td></tr>
<% } %>

</tbody>
</table>
</div>



</div>
<!--end of kt-portlet-->
<% include footer3 %>

<script type="text/javascript" src="js/custom/script.js"></script>