<% include meta %>
<% include header %>
<% include link %>


<div class="alert alert-bold fade show" role="alert" style="border:1px solid #e1e1e1;background:transparent;">
<div class="alert-icon kt-font-success"><i class="la la-slack"></i></div>
<div class="alert-text" data-format="comma">
<b>&#8358;<%= loan.initial_amount %> has been sent to your bank account and you should get it within 5 minutes!
</div>
</div>


<div class="kt-widget24">
<div class="kt-widget24__details">
<div class="kt-widget24__info">
<h4 class="kt-widget24__title">
Loan Summary
</h4>
<span class="kt-widget24__desc">
#<%= loan.reference %>
</span>
</div>
<span class="kt-widget24__stats" data-format="comma">
&#8358;<%= loan.initial_amount %>
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Interest Rate
</span>
<span class="kt-widget24__number">
<%= loan.interest %>%
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Interest
</span>
<span class="kt-widget24__number" data-format="comma">
&#8358;<%= loan.final_amount - loan.initial_amount %>
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Total
</span>
<span class="kt-widget24__number" data-format="comma">
&#8358;<%= loan.final_amount %>	
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Loan Duration
</span>
<span class="kt-widget24__number">
<%= loan.weeks %> Weeks
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Weekly Payment
</span>
<span class="kt-widget24__number" data-format="comma">
&#8358;<%= loan.weekly_amount %>
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Next Payment
</span>
<span class="kt-widget24__number">
<a href="#">03 March, 2020</a>
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Status
</span>
<% let stateMap = { approved: "info", complete: "success"} %>
<% let color = stateMap[loan.status] %>
<span class="kt-widget24__number kt-font-<%= color %> text-capitalize">
<%= loan.status %>
</span>
</div>
</div>



<div class="kt-widget24">
<div class="kt-widget24__details">
<div class="kt-widget24__info">
<h4 class="kt-widget24__title">
Account Details
</h4>
<span class="kt-widget24__desc">
Your Bank account information
</span>
</div>
<span class="kt-widget24__stats">
<%= account.account_number %>
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Account Name
</span>
<span class="kt-widget24__number text-capitalize">
<%= account.account_name.toLowerCase() %>
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Bank
</span>
<span class="kt-widget24__number">
<%= bankName %>
</span>
</div>
</div>


<!-- <div class="naira__header">
<h3 class="naira__title">
Instalment Loan Need
</h3>
<span class="naira__desc">
Why did you request for the loan?
</span>
</div>
<div class="aboutn kt-margin-b-10">
<p>
<%= loan.reason %>
</p>
</div> -->


<div class="kt-widget24">
<div class="kt-widget24__details">
<div class="kt-widget24__info">
<h4 class="kt-widget24__title">
Loan Terms
</h4>
<span class="kt-widget24__desc">
Your agreement with Nairalife
</span>
</div>
</div>
<div class="kt-widget24__action">
<p class="kt-margin-b-0">
Weekly payment of &#8358;<span data-format="comma"><%= loan.weekly_amount %></span> for <%= loan.weeks %> weeks for a total of &#8358;
<span data-format="comma"><%= loan.final_amount %></span> and at an interest rate of <%= loan.interest %>% starting <%= loan._doc.beforeText %>  after receiving this loan
</p>
</div>
</div>


<!-- <div class="naira__header">
<h3 class="naira__title">
Instalment Loan Term
</h3>
<span class="naira__desc">
Your agreement with Nairalife
</span>
</div>

<div class="aboutn">
<p>
I promise to repay on instalment &#8358;<span data-format="comma"><%= loan.weekly_amount %></span> weekly for <%= loan.weeks %> weeks for a total of &#8358;<span data-format="comma"><%= loan.final_amount %></span> and at an interest rate of <%= loan.interest %>% starting <%= loan._doc.beforeText %>  after receiving this loan.
</p>
</div> -->








<script type="text/javascript" src="/js/custom/script.js"></script>
<!-- <script type="text/javascript" src="/js/custom/request.js"></script> -->
<% include footer3 %>