<% include meta %>
<% include header %>
<% include link %>

<% let match = (a,b) => String(a).lowerCase() == String(b).lowerCase() ? "selected" : "" %>

<!--begin::Portlet-->
<div class="kt-portlet btopzero">

<div class="kt-portlet__body kt-padding-20">

<ul class="nav nav-tabs  nav-tabs-line nav-tabs-bolder nav-tabs-line-primary kt-margin-b-20" role="tablist">
<li class="nav-item">
<a class="nav-link active" data-toggle="tab" href="#kt_tabs_7_1" role="tab">
<i class="la la-user"></i> Account Profile
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_2" role="tab">
<i class="la la-edit"></i> Bank Account
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-toggle="tab" href="#kt_tabs_7_4" role="tab">
<i class="la la-unlock"></i>Password
</a>
</li>
</ul>

<div class="tab-content">



<div class="tab-pane active profile-section" id="kt_tabs_7_1" role="tabpanel">

<div class="alert alert-danger alert-bold fade show kt-margin-t-10 kt-margin-b-20 otp-error profile-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>

<div class="alert alert-success alert-bold fade show kt-margin-t-10 kt-margin-b-20 otp-error profile-success" role="alert">
<div class="alert-icon"><i class="la la-check-circle"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
	
<div class="form-group">
<label>Full Name</label>
<input type="text" class="form-control form-control-lg info-name text-capitalize" name="fullname" value="<%= user.fullname %>" 
readonly="readonly">
<span class="text-muted">to change your full name, please call us or message us on whatsapp on 08127596979</span>
</div>

<div class="form-group">
<label>Phone Number</label>
<input type="text" class="form-control form-control-lg info-phone" name="phone" value="0<%= user.phone %>" readonly="readonly">
<span class="text-muted">to change your phone number, please call us or message us on whatsapp on 08127596979</span>
</div>

<div class="form-group">
<label>Email Address</label>
<input type="text" class="form-control form-control-lg info-email" name="email" value="<%= user.email %>" readonly="readonly">
<span class="text-muted">to change your email address, please call us or message us on whatsapp on 08127596979</span>
</div>


<div class="form-group">
<label>Sex</label>	
<select name="sex" data-defaultvalue="<%= user.about.sex %>" class="custom-select bank-name" style="height:55px;">
<option value="female">Female</option>
<option value="male">Male</option>
</select>
</div>


<!-- <div class="form-group">
<label>Official Title</label>	
<select  name="title" data-defaultvalue="<%= user.about.title %>" class="custom-select bank-name" style="height:55px;">
<option value="mr.">Mr.</option>
<option value="mrs.">Mrs.</option>
<option value="miss.">Miss.</option>
<option value="dr.">Dr.</option>
<option value="mazi">Mazi</option>
<option value="ogbeni">Ogbeni</option>
<option value="otunba">Otunba</option>
<option value="chairman">Chairman</option>
<option value="chairwoman">Chairwoman</option>
</select>
</div> -->


<div class="form-group">
<label>Relationship Status</label>	
<select name="relationship" data-defaultvalue="<%= user.about.relationship %>" class="custom-select bank-name" style="height:55px;">
<option value="single">Single</option>
<option value="engaged">Engaged</option>
<option value="married">Married</option>
<option value="divorced">Divorced</option>
</select>
</div>

<div class="form-group">
<label>Bio</label>	
<textarea class="form-control" name="bio" style="height:95px"><%= user.about.bio %></textarea>
</div>



<div class="kt-form__actions kt-text-align-center-mobile kt-margin-t-30">
<button class="btn btn-primary btn-taller btn-pill btn-wide kt-font-bold save-information-button">
<i class="la la-edit"></i><span class="save-text">Save Profile</span>
</button>
</div>
<!--end: Form Actions -->

</div>
<!--end: tab-pane -->




<div class="tab-pane bank-section" id="kt_tabs_7_2" role="tabpanel">

<!-- <div class="form-group">
<label>Account Name</label>
<input type="text" class="form-control form-control-lg info-account-name" name="account_name" value="Akin Wumi">
</div> -->
<div class="alert alert-danger alert-bold fade show kt-margin-t-10 kt-margin-b-20 otp-error bank-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
<div class="alert alert-success alert-bold fade show kt-margin-t-10 kt-margin-b-20 otp-error bank-success" role="alert">
<div class="alert-icon"><i class="la la-check-circle"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>

<div class="form-group">
<label>Account Number</label>
<input type="text" class="form-control form-control-lg info-account-number" name="account_number" value="<%= user.bank[0].account.account_number %>">
</div>

<div class="form-group">
<label>Bank Name</label>	
<select class="custom-select custom-select-lg bank-name" data-defaultvalue="<%= user.bank[0].account.bank_code %>" name="bank_code">
<option value="">Select Bank</option>

<% banks.forEach(bank => { %>
<option value="<%= bank.code %>"><%= bank.name %></option>
<% }) %>
</select>
</div>	
<!-- <div class="form-group">
<label>Bank Name</label>
<input type="text" class="form-control form-control-lg info-bank-name" name="bank_name" value="Access Bank (Diamond)">
</div> -->

<div class="kt-form__actions kt-text-align-center-mobile kt-margin-t-30">
<button class="btn btn-primary btn-taller btn-pill btn-wide kt-font-bold update-bank-button">
<i class="la la-money"></i><span class="bank-text">Update Bank</span>
</button>
</div>
<!--end: Form Actions -->

</div>
<!--end: tab-pane -->



<div class="tab-pane password-section" id="kt_tabs_7_4" role="tabpanel">

<div class="alert alert-danger alert-bold fade show kt-margin-t-10 kt-margin-b-20 otp-error password-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>

<div class="alert alert-success alert-bold fade show kt-margin-t-10 kt-margin-b-20 otp-error password-success" role="alert">
<div class="alert-icon"><i class="la la-check-circle"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>

<div class="form-group">
<label>Current Password</label>
<input type="password" class="form-control form-control-lg current-password" name="oldPassword">
</div>

<div class="form-group">
<label>New Password</label>
<input type="password" class="form-control form-control-lg new-password" name="newPassword">
<p class="settings-pass-error" style="color: red; display: none;">password must be at least 6 characters</p>
</div>


<div class="form-group">
<label>Repeat New Password</label>
<input type="password" class="form-control form-control-lg repeat-new-password" name="newPassword2">
</div>



<div class="kt-form__actions kt-text-align-center-mobile kt-margin-t-30">
<button class="btn btn-primary btn-taller btn-pill btn-wide kt-font-bold change-password-button">
<i class="la la-unlock"></i><span class="password-text">Change Password</span>
</button>
</div>
<!--end: Form Actions -->

</div>
<!--end: tab-pane -->



</div>
<!--end::tab-content-->
</div>
<!--end::portlet__body-->
</div>
<!--end::Portlet-->


<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/settings.js"></script>
<% include footer %>