<% include meta %>
<% include header %>
<% include link %>

<!-- <% let match = (a,b) => String(a).lowerCase() == String(b).lowerCase() ? "selected" : "" %> -->


<div class="naira__set">
<div class="naira__header">
<h3 class="naira__title">Profile Information</h3>
</div>
<div class="alert alert-danger alert-bold fade show otp-error profile-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
<div class="alert alert-success alert-bold fade show otp-error profile-success" role="alert">
<div class="alert-icon"><i class="la la-check-circle"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
<div class="form-group">
<input type="text" class="form-control form-control-lg info-age" name="age" value="" placeholder="Age">
</div>
<div class="form-group">
<select name="sex" data-defaultvalue="<%= user.about.sex %>" class="custom-select custom-select-lg">
<option value="">Sex</option>
<option value="female">Female</option>
<option value="male">Male</option>
</select>
</div>
<div class="form-group">
<select name="relationship" data-defaultvalue="<%= user.about.relationship %>" class="custom-select custom-select-lg">
<option value="">Relationship Status</option>
<option value="single">Single</option>
<option value="engaged">Engaged</option>
<option value="married">Married</option>
<option value="divorced">Divorced</option>
</select>
</div>
<div class="form-group">
<select name="education" data-defaultvalue="<%= user.about.education %>" class="custom-select custom-select-lg">
<option value="">Education</option>
<option value="Secondary">Secondary</option>
<option value="Graduate">Graduate</option>
<option value="Masters">Masters</option>
<option value="Doctorate">Doctorate</option>
<option value="None">None</option>
</select>
</div>
<div class="form-group">
<textarea class="form-control" name="bio" style="height:95px" placeholder="Bio"><%= user.about.bio %></textarea>
</div>
<div class="kt-form__actions">
<button class="btn btn-primary btn-pill btn-sm save-information-button">
<i class="la la-edit" style="padding-right:0"></i> <span class="save-text">Save Profile</span>
</button>
</div>
</div>



<div class="naira__set">
<div class="naira__header">
<h3 class="naira__title">Bank Account</h3>
</div>
<div class="alert alert-danger alert-bold fade show otp-error bank-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
<div class="alert alert-success alert-bold fade show otp-error bank-success" role="alert">
<div class="alert-icon"><i class="la la-check-circle"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
<div class="form-group">
<select class="custom-select custom-select-lg" data-defaultvalue="<%= user.bank[0].account.bank_code %>" name="bank_code">
<option value="">Select Bank</option>
<% banks.forEach(bank => { %>
<option value="<%= bank.code %>"><%= bank.name %></option>
<% }) %>
</select>
</div>
<div class="form-group">
<input type="text" class="form-control form-control-lg info-account-number" name="account_number" placeholder="Account No" 
value="<%= user.bank[0].account.account_number %>">
</div>
<div class="kt-form__actions">
<button class="btn btn-primary btn-pill btn-sm update-bank-button">
<i class="la la-upload" style="padding-right:0"></i> <span class="bank-text">Update Bank</span>
</button>
</div>
<!--end: Form Actions -->
</div>



<div class="naira__set">
<div class="naira__header">
<h3 class="naira__title">Payment Card</h3>
</div>
<div class="alert alert-secondary alert-bold fade show" role="alert">
<div class="alert-icon"><i class="la la-credit-card"></i></div>
<div class="alert-text">
We will automatically charge this card for your loan repayments. 
<b>Please note:</b> &#8358;100 charges will be deducted from this card and added to your loan available balance
</div>
</div>
<div class="kt-form__actions">
<button class="btn btn-primary btn-pill btn-sm">
<i class="la la-credit-card" style="padding-right:0"></i> <span class="bank-text">Change Card</span>
</button>
</div>
<!--end: Form Actions -->
</div>



<div class="naira__set lastdiv">
<div class="naira__header">
<h3 class="naira__title">Change Password</h3>
</div>
<div class="alert alert-danger alert-bold fade show otp-error password-error" role="alert">
<div class="alert-icon"><i class="la la-warning"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
<div class="alert alert-success alert-bold fade show otp-error password-success" role="alert">
<div class="alert-icon"><i class="la la-check-circle"></i></div>
<div class="alert-text">
Invalid Username or Password
</div>
</div>
<div class="form-group">
<input type="password" class="form-control form-control-lg current-password" name="oldPassword" placeholder="Old Password">
</div>
<div class="form-group">
<input type="password" class="form-control form-control-lg new-password" name="newPassword" placeholder="New Password">
<p class="settings-pass-error" style="color: red; display: none;">password must be at least 6 characters</p>
</div>
<div class="form-group">
<input type="password" class="form-control form-control-lg repeat-new-password" name="newPassword2" placeholder="Repeat New Password">
</div>
<div class="kt-form__actions">
<button class="btn btn-primary btn-pill btn-sm change-password-button">
<i class="la la-unlock" style="padding-right:0"></i> <span class="password-text">Change Password</span>
</button>
</div>
</div>


<% include footer3 %>

<script type="text/javascript" src="js/custom/script.js"></script>
<script type="text/javascript" src="js/custom/settings.js"></script>