<% include meta %>
<link href="css/login.css" rel="stylesheet" type="text/css" />
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">


<!--begin::Content-->
<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

<!--begin::Head-->
<div class="kt-login__bottom">

</div>

<!--end::Head-->

<!--begin::Body-->
<div class="kt-login__body" id="login-section">

<!--begin::Signin-->
<div class="kt-login__form">
<% include formhead %>
<div class="kt-login__title">
<h3>Start Hire Purchase</h3>
<h4>Pay for your car small small</h4>
</div>



<div class="aboutn">
<p><b class="kt-font-success">To complete the hire purchase of your car:</b></p>
<% let days = Math.ceil(user.payment_one.total / user.payment_one.amount) %>
<p>1. Pay &#8358;<span data-format="comma"><%= user.payment_one.amount %></span> daily for up to <%= days %> days</p>
<p>2. Provide a guarantor and get your car</p>
<p>3. Pay &#8358;<span data-format="comma"><%= user.plan.amount %></span> weekly for up to 2 years</p>
<p>4. We transfer ownership of the car to you</p>
</div>


<!--begin::Divider-->
<div class="kt-login__divider">
<div class="kt-divider">
<span></span>
<span class="kt-font-success">PAYMENT SUMMARY</span>
<span></span>
</div>
</div>
<!--end::Divider-->

<div class="aboutn">
<p>You can find the summary of your total payment below:</p>
</div>

<div class="kt-section__content table-responsive kt-margin-t-10">
<table class="table kt-margin-b-0">
<thead>
<tr>
<th class="kt-font-bolder kt-font-success">Description</th>
<th class="kt-font-bolder kt-font-success">Amount</th>
<th class="kt-font-bolder kt-font-success">Period</th>	
</tr>
</thead>
<tbody>	
<tr>
<td>Hire Purchase Price</td>	
<td data-format="comma">&#8358;<%= user.plan.car_amount %></td>
<td>2 Years</td>
</tr>
<tr>
<td>Membership Fee</td>	
<td><span>&#8358;</span>130,000</td>
<td>2 Years</td>
</tr>
<tr>
<td>Insurance</td>	
<td>&#8358;120,000</td>
<td>2 Years</td>
</tr>
<tr>
<td>License Plate</td>	
<td>&#8358;50,000</td>
<td>2 Years</td>
</tr>
<tr>
<td>Car Tracking</td>	
<td>&#8358;40,000</td>
<td>2 Years</td>
</tr>
<tr>
<td>Legal Fees</td>	
<td>&#8358;60,000</td>
<td>-</td>
</tr>
<tr>
<td>Total</td>
<% let total = user.plan.car_amount == 2500000 ? 2900000 : 3000000 %>
<td data-format="comma">&#8358;<%= total %></td>	
<td>2 Years</td>
</tr>
</tbody>
</table>
</div>
<p class="border-dash" style="padding:5px 0 0; margin:0 0 20px;"></p>


<!--begin::Action-->
<div class="kt-login__actions kt-margin-t-30">
By clicking on "Start Hire Purchase" you have read <br>
and agree to our <a href="/agreement" class="kt-link kt-login__signup-link">Hire Purchase Agreement</a>
</div>
<!--end::Action-->

<div class="kt-login__btn kt-margin-t-20">
<button  class="btn btn-primary btn-pill kt-login__btn-primary" onclick="payWithPaystack()">
<i class="la la-slack"></i>Start Hire Purchase
</button>
</div>


<% include footer2 %>

</div>
<!--end::kt-login__form-->
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="/js/custom/script.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
function payWithPaystack(event){
	var handler = PaystackPop.setup({
		key: 'pk_test_c390fc7c87abac72d463b6de024098319a6e92f3',
		email: '<%= user.email %>',
		amount: "<%= user.payment_one.amount %>00",
		currency: "NGN",
		channels: ["card"],
		metadata: {
			user_id: "<%= user.user_id %>",
			id: "<%= user._id %>",
			type: "PAYMENT_START"
		},
		callback: triggerReload,
		onClose: function(){}
	});
	handler.openIframe();
}
</script>

<script type="text/javascript">
function triggerReload(){
	setTimeout(function(){
		window.location.href = window.location.href
	}, 4000)
}
</script>

</body>
</html>