<div class="tab-pane active" id="kt_tabs_7_1" role="tabpanel">
<div class="kt-section__content table-responsive">
<table class="table kt-margin-b-0">
<tbody>
<tr style="border-top:0">
<td class="kt-font-bold" style="border-top:0">Full Name:</td>
<td class="text-right text-capitalize" style="border-top:0">
<%= user.about.title %> <%= user.fullname %>
</td>
</tr>
<tr>
<td class="kt-font-bold">Phone Number:</td>
<td class="text-right">0<%= user.phone %></td>
</tr>
<tr>
<td class="kt-font-bold">Email Address:</td>
<td class="text-right"><%= user.email %></td>
</tr>
<tr>
<td class="kt-font-bold">Bio:</td>
<td class="text-right"><%= user.about.bio %></td>
</tr>
<tr>
<td class="kt-font-bold">Sex:</td>
<td class="text-right text-capitalize"><%= user.about.sex %></td>
</tr>
<tr>
<td class="kt-font-bold">Relationship Status:</td>
<td class="text-right text-capitalize"><%= user.about.relationship %></td>
</tr>
<tr>
<td class="kt-font-bold">Current Partnership:</td>
<td class="text-right">Uber</td>
</tr>
<tr>
<td class="kt-font-bold">Joined Nairalife:</td>
<td class="text-right">30-12-2019</td>
</tr>
<tr>
<td class="kt-font-bold">Total Payment:</td>
<td class="text-right" data-format="number">&#8358;<%= user.balance %></td>
</tr>
<tr>
<td class="kt-font-bold">Remaining Payment:</td>
<td class="text-right" data-format="number">&#8358;<%= user.nairalife_balance %></td>
</tr>
<tr>
<td class="kt-font-bold">Agreement Status:</td>
<td class="text-right kt-font-info">Pending</td>
</tr>
</tbody>
</table>
</div>
</div>