<% include meta %>
<% include header %>
<% include link %>

<div class="kt-widget24">
<div class="kt-widget24__details">
<div class="kt-widget24__info">
<h4 class="kt-widget24__title">
Transaction Summary
</h4>
<span class="kt-widget24__desc">
Details of transaction
</span>
</div>
<span class="kt-widget24__stats" data-format="comma">
&#8358;<%= transaction.amount %>
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Reference No
</span>
<span class="kt-widget24__number">
<%= transaction.reference %>
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Date Created
</span>
<span class="kt-widget24__number">
<a href="#"><%= transaction.created_at %></a>
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Status
</span>
<% let stateMap = { pending: "info", success: "success", failed: "danger" } %>
<% let color = stateMap[transaction.status] %>
<span class="kt-widget24__number kt-font-<%= color %> text-capitalize">
<%= transaction.status %>
</span>
</div>
</div>




<div class="kt-widget24">
<div class="kt-widget24__details">
<div class="kt-widget24__info">
<h4 class="kt-widget24__title">
Nairalife Account Details
</h4>
<span class="kt-widget24__desc">
Bank account information
</span>
</div>
<span class="kt-widget24__stats">
0762936409
</span>
</div>
<!-- <div class="kt-widget24__action">
<span class="kt-widget24__change">
Account No
</span>
<span class="kt-widget24__number">
0762936409
</span>
</div> -->
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Account Name
</span>
<span class="kt-widget24__number">
Token Technologies Limited
</span>
</div>
<div class="kt-widget24__action">
<span class="kt-widget24__change">
Bank
</span>
<span class="kt-widget24__number">
Access Bank
</span>
</div>
</div>



<!-- <div class="naira__header">
<h3 class="naira__title">
Nairalife Account Details
</h3>
<span class="naira__desc">
Our bank account information
</span>
</div>
<div class="table-responsive">
<table class="table">
<tbody>	
<tr>
<td>Account Name:</td>
<td class="text-right">Token Technologies Limited</td>
</tr>
<tr>
<td>Bank Name:</td>
<td class="text-right">Access Bank</td>
</tr>
<tr>
<td>Account No:</td>
<td class="text-right">0762936409</td>
</tr>
</tbody>
</table>
</div> -->



<% if(transaction.status == "pending") { %>
<div class="kt-widget24">
<div class="kt-widget24__details">
<div class="kt-widget24__info">
<h4 class="kt-widget24__title">
Payment Instruction
</h4>
<span class="kt-widget24__desc">
How to make payment
</span>
</div>
</div>
<div class="kt-widget24__action">
<p data-format="comma">
Send exactly &#8358;<%= transaction.amount %> to the Nairalife account details above. If your payment is not confirmed after 24 hours, please contact us 
</p>
</div>
<div>
<a class="btn btn-secondary btn-pill btn-sm" href="#" data-transaction_id="<%= transaction._id %>">
<i class="la la-close" style="padding-right:0"></i> <span class="cancel-text">Cancel</span>
</a>
<a class="btn btn-warning btn-pill btn-sm" href="el:08127574549">
<i class="la la-phone" style="padding-right:0"></i> Contact Us
</a>
</div>
</div>
<% } %>


<script type="text/javascript" src="/js/custom/script.js"></script>
<script type="text/javascript" src="/js/custom/transaction.js"></script>
<% include footer %>
