<% include meta %>
<% include header %>
<% include link %>

<div class="kt-portlet btopzero">
<div class="kt-portlet__body kt-margin-10">


<div class="naira__header">
<h3 class="naira__title">
Transaction Summary
</h3>
<span class="naira__desc">
Details of transaction and current status
</span>
</div>

<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td>Reference No:</td>
<td class="text-right"><%= transaction.reference %></td>
</tr>
<tr>
<td>Amount:</td>
<td class="text-right">&#8358;<%= transaction.amount %></td>
</tr>
<tr>
<td>Date Created:</td>
<td class="text-right"><%= transaction.created_at %></td>
</tr>
<tr>
<td>Payment Status:</td>
<td class="text-right"><% let stateMap = { pending: "info", success: "success", failed: "danger" } %>
<% let color = stateMap[transaction.status] %>
<span class="kt-font-<%= color %> text-capitalize"><%= transaction.status %></span></td>
</tr>
</tbody>
</table>
</div>


<div class="naira__header">
<h3 class="naira__title">
Nairalife Account Details
</h3>
<span class="naira__desc">
Our bank account information
</span>
</div>
<div class="table-responsive">
<table class="table">
<tbody>	
<tr>
<td>Account Name:</td>
<td class="text-right">Token Technologies Limited</td>
</tr>
<tr>
<td>Bank Name:</td>
<td class="text-right">Access Bank</td>
</tr>
<tr>
<td>Account No:</td>
<td class="text-right">0762936409</td>
</tr>
</tbody>
</table>
</div>


<div class="naira__header">
<h3 class="naira__title">
Payment Instruction
</h3>
<span class="naira__desc">
How to make payment to Nairalife
</span>
</div>

<div class="aboutn">
<p>
Send exactly <b> &#8358;<%= transaction.amount %></b> to the Nairalife account details above. If Payment is not confirmed after 24 hours, please contact us below 
</p>
</div>


<div class="kt-login__btn kt-margin-t-20">
<% if(transaction.status == "pending") { %>
<a href="#" data-transaction_id="<%= transaction._id %>" class="btn btn-secondary btn-taller btn-pill btn-wider transaction-cancel">
<i class="la la-close"></i><span class="cancel-text">Cancel Payment</span>
</a>
<% } %>
<a href="tel:08127574549" class="btn btn-warning btn-taller btn-pill btn-wider">
<i class="la la-phone"></i>Contact Us
</a>
</div>

</div>
<!--end of kt-portlet-body-->
</div>
<!--end of kt-portlet-->



<script type="text/javascript" src="/js/custom/script.js"></script>
<script type="text/javascript" src="/js/custom/transaction.js"></script>
<% include footer %>
